* { /*Global Addings*/
padding: 0;  margin: 0; 
box-sizing: border-box;
}

.divtextcentenary{
    
    width: 80%;
    margin-bottom: 3vw;

    
}

.diviframe{
    width: 100%;
     display: flex;
    justify-content: center;
    align-content: center;
    border-bottom-left-radius: 2vw;
   border-bottom-right-radius: 2vw;
   
}

.smallsectioncentenary{
    
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    background-color: rgb(255,255,255, 0.5);
}

.mediumsectioncentenary{
    
    width: 60%;
    background-color: rgb(255,255,255, 1);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 4vw;
    padding-top: 16vw;
    background-image: url(../images/indeximages/cover.jpg);
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
}


.bigsectioncentenary{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; 
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    margin-bottom: 10vw;
    margin-top: 5vw;
    
}


p{
    font-size: 0.9vw;
}

h2{
    text-align: left;
    width: 75%;
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
    font-family:inherit;
}
.h4{
    text-align: left;
    width: 75%;
    font-size: 1vw;
    font-weight: bold;
    color: rgb(255, 103, 31, 1);
    font-family:inherit;
}

h5{
    color: rgb(255, 103, 31);
    font-size: 1.2vw;
    margin-bottom: 3vw;
    margin-top: 3vw;
    font-weight: bold;
}

body{
    background-color: darkgrey;
    background-image: url(../images/indeximages/escudo_valencia_cf_-_marketing-removebg-preview.png), url(../images/indeximages/escudo_valencia_cf_-_marketing-removebg-preview.png);
    background-attachment: fixed;
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    background-size:20vw;
}

.hrtitle{
    
    border-color: rgb(255, 103, 31, 1);
    border-width: 0.2vw;
    z-index: 1;
    width: 75%;
}
iframe{
   width: 100%;
   height: 30vw;
   border-bottom-left-radius: 2vw;
   border-bottom-right-radius: 2vw;
   border: 0px;

}