* { /*Global Addings*/
    padding: 0;  margin: 0; 
    box-sizing: border-box;
}

.divphoto{
    width: 20%;
    height: 100%;
}

nav{
    background-color: #333;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #333;
    justify-content: flex-start;
}

nav li {
    display: inline-block;
    position: relative;
    padding: 20px;
    border: 1px #333 solid;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

nav ul li:hover > ul {
    display:inherit;
    background-color: #333;
}

nav ul ul li {
    width: 100%;
    float: none;
    position: relative; 
}

nav ul ul ul li {
    position: relative;
    top:-60px;
    left:170px;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}

nav ul ul li a {
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration:none;
}

nav ul ul li a:hover {
    background-color: #444;
}

nav li:hover {
    background-color: #555;
    border: white solid 1px;
}


nav ul li ul li:hover {
    background-color: #666;
}

nav a:hover {
    background-color: #555;
}

nav ul ul {
    margin-top: 0;
    background-color: #333;
}

nav li > a:after {
    content:  ' ▼'; 
}
nav li > a:only-child:after {
    content: ''; 
}

.menupc {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
 }

.container-horizontal {
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    flex-wrap: wrap; 
    align-items: flex-end;
}

.container1 {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerfirstimg {
    width: 50%;
    margin:0;
    padding: 0;
    margin-right: 10%;
}

.container2{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.containerdouble1{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.containerdouble2{
    width: 40%;
    height: 100%;
    padding-bottom: 0.7%;
    padding-right: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

h3{
    width: 100%;
    font-size: 2vw;
    margin: 0px;
    padding: 0px;
    color: white;
    text-align: center;
}

.containersecondimg {
    width: 100%;
}

.container3img{
     width: 50%;
}

.container2-1{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.bigcontainersmallsponsors{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin:0;
    padding: 0;
}

.divsmallsponsors{
    width: 50%;
    margin:0%;
    padding: 1%;
    display: flex; 
    flex-wrap: wrap; 
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}

.imgsmallsponsors{
    width: 100%;
    margin:0;
    padding: 0;
}

.linkssmallsponsors{
    width: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F2F2F2;
}

.h3sponsors{
    width: 100%;
    font-size: 2vw;
    margin-top: 0px;
    padding: 0px;
    color: black;
    text-align: center;
    font-family: Comic Sans;
    border: solid 1px black;   
}

.h3sponsors2{
    width: 100%;
    font-size: 2vw;
    margin-top: 30px;
    padding: 0px;
    color: black;
    text-align: center;
    font-family: Comic Sans;
    border: solid 1px black;
}

.divtitlesponsors{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.limits{
    margin-top: 20px;
}

.imgbookmarck{
    width: 35%;
    margin:0;
    padding: 0;
}

body{
    background-color:#FF9525;
    background-image: url(../images/indeximages/original-0222.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.backgroundimagefooter{
    background-image: url(../images/indeximages/brush_grey_footer@2x.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:scroll;
    padding: 50px;
}

.divbutton{
    width: 100%;
    display: flex;
    justify-content: end;  
}

.buttonlogin{
    width: 8%;
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    font-size: 1vw;
    font-family: Comic Sans;
    margin-right: 5%;
    margin-top: 1.2%;
    color: white;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 0px) {
.col-so-1 {width: 8.33%;}
.col-so-2 {width: 16.66%;}
.col-so-3 {width: 25%;}
.col-so-4 {width: 33.33%;}
.col-so-5 {width: 41.66%;}
.col-so-6 {width: 50%;}
.col-so-7 {width: 58.33%;}
.col-so-8 {width: 66.66%;}
.col-so-9 {width: 75%;}
.col-so-10 {width: 83.33%;}
.col-so-11 {width: 91.66%;}
.col-so-12 {width: 100%;}
}

@media only screen and (min-width: 400px) {
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 783px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
    
.menumovil {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}
    
.menupc {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  justify-content: space-between;
 }
    
}

