* { /*Global Addings*/
padding: 0;  margin: 0; 
box-sizing: border-box; 
}

.sectiongallery{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.right{
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.left{
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.sectionindividual{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 5vw;
    background-color: white;
    transition: background-color 1s ease;
}

.divtext{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center; 
}

.divdorsal{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.divimg{
    flex-wrap: wrap;
    display: flex;
    width: 50%;
    align-content: end;
    justify-content: center; 
}

.divtextoydorsal{
    flex-wrap: wrap;
    display: flex;
    width: 50%;  
}

.margin{
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.bordertopbotright{
    border: 0.1vw solid black;
    border-collapse: collapse;
}

.img{
    width: 40%;
}

p{
    width: 100%;
    text-align: center;
    font-size: 1.4vw;
    font-family: Comic Sans; 
}

.pdorsal{
    width: 100%;
    text-align: center;
    font-size: 4vw;
}

.marginleftright{
    margin-bottom: 7vw;
}

.margindorsal{
    margin-top: 1vw;
    margin-bottom: 1vw;
}

h2{
    text-align: center;
    font-size: 4vw;
    margin-bottom: 2.5vw;
    color: black;
    font-family: Comic Sans;  
    background-color: rgba(255, 255, 255, 0.7);
    border: solid black 0.1vw;
}

.divtitle{
    width: 100%; 
}

.changecolor:hover{
    background-color: black;
    color:white;
}

a{
    text-decoration: none;
}

.limit{
    margin-left: 5vw;
    margin-right: 5vw;
}
.buttonfirstteam{
    width: 12vw;
    font-size: 1vw;
    text-align: center;
    border-radius: 0.5vw;
    padding: 0.5vw;
    background-color: black;
    font-family: Comic Sans;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.divtablexml1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.divtablexml2{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    align-content: center;
    justify-content: center;
}

#demo{

    width: 100%;
    border: 0.3vw double;
    background-color: rgb(100,100,100,0.9);
    text-align: center;
    color: rgb(220,220,220,1);
    border-color: rgb(40,40,40,1);
    border-collapse: collapse;
    margin-top: 5vw;
    
}

td{

    padding: 1vw;
    font-size: 1vw;
    width: 25%;
    border: solid 0.2vw black;
}

th{
    
    padding-bottom: 2vw;
    padding-top: 2vw;
    font-size: 2vw;
    border: solid 0.2vw black;
    
}




[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 0px) {
.col-so-1 {width: 8.33%;}
.col-so-2 {width: 16.66%;}
.col-so-3 {width: 25%;}
.col-so-4 {width: 33.33%;}
.col-so-5 {width: 41.66%;}
.col-so-6 {width: 50%;}
.col-so-7 {width: 58.33%;}
.col-so-8 {width: 66.66%;}
.col-so-9 {width: 75%;}
.col-so-10 {width: 83.33%;}
.col-so-11 {width: 91.66%;}
.col-so-12 {width: 100%;}
}

@media only screen and (min-width: 400px) {
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

