* { /*Global Addings*/
padding: 0;  margin: 0; 
box-sizing: border-box;
}

.bigdivdelimiter{
    
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    align-content: center;
 
    
}

.smalldivdelimiter{
    
    width: 80%;
    
    margin-bottom: 5vw;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
    
}
.mediumdivdelimiter{
    
    width: 70%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}

h2{
   font-size: 1.7vw;
    color: rgb(255, 103, 31, 1);
    
}

p{
    margin-bottom: 3vw;
    margin-top: 3vw;
    font-size: 0.85vw;
}

.h2{
   font-size: 1.7vw;
    margin-top: 3vw;
    
}

.hrtitle{
    
    border-color: rgb(255, 103, 31, 1);
    border-width: 0.2vw;
    z-index: 1;
    width: 75%;
}

.divtitlepage{
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
     padding-bottom: 4vw;
    padding-top: 20vw;
    background-image: url(../images/indeximages/cover.jpg);
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
    
}
h4{
    text-align: left;
    width: 100%;
    font-size: 2.5vw;
    color: rgb(255, 103, 31, 1);
}